@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Delivery Management Systen</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to our Delivery Management System</h2>
        <p>
            This system manages deliveries of stock to different shops
        </p>
    </div>
</div>